[submodule "cairo"]
	path = src/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "libdrm"]
	path = src/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "libdisplay-info"]
	path = src/libdisplay-info
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info.git
[submodule "libinput"]
	path = src/libinput
	url = https://gitlab.freedesktop.org/libinput/libinput
[submodule "libxkbcommon"]
	path = src/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "pixman"]
	path = src/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "seatd"]
	path = src/seatd
	url = https://git.sr.ht/~kennylevinsen/seatd
[submodule "wayland"]
	path = src/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "wayland-protocols"]
	path = src/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "weston"]
	path = src/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "apitrace"]
	path = src/apitrace
	url = https://github.com/apitrace/apitrace.git
[submodule "nvtop"]
	path = src/nvtop
	url = https://github.com/Syllo/nvtop.git
[submodule "glmark2"]
	path = src/glmark2
	url = https://github.com/glmark2/glmark2.git
[submodule "src/wlroots"]
	path = src/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
